.microwave{

width:min(700px,100%);

text-align:center;

margin:auto;

}

#display{

width:100%;

font-size:clamp(2rem,7vw,5rem);

background:black;

color:#00ff00;

padding:20px;

margin:30px auto;

width:250px;

border:5px solid #333;

}

.plate{

font-size:90px;

animation:spin 2s linear infinite;

display:none;

margin:30px;

}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

button{

margin:10px;

}
